<!DOCTYPE html>
<html>
<head>
 
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>磊山保經</title>
    <meta content="" name="keywords" >
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href='stylesheets/style.css' rel='stylesheet'>
    <link href='stylesheets/ekko-lightbox.min.css' rel='stylesheet'>
    
    <!-- <script src='javascripts/modernizr-2.0.6.min.js'></script>  -->

    <!-- 引用jquery  -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src='javascripts/jquery-ui-1.9.2.custom.min.js'></script>
    <script src='javascripts/jquery.transit.min.js'></script>
    <script src="javascripts/smooth-scroll.min.js"></script>
    <!-- 引用 bootstrap js -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- 引用respond js -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src='javascripts/ekko-lightbox.min.js'></script>
    <script src='javascripts/jquery.stellar.min.js'></script>
    
     <!-- Fav and touch icons -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png">


    <!--[if lt IE 8]>
    
    <![endif]-->
    <!--[if lt IE 9]>
    
    <![endif]-->
    <!--[if lt IE 10]>
    
    <![endif]-->
    

</head>
<body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner"> 
  <div class="container"> 
    <div class="navbar-header"> 
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </button> 
     <a href="/" class="navbar-brand"><img src="image/logo.png" style="width:59px;height: 42px;"></a> 
    </div> 
      <nav id="bs-navbar" class="collapse navbar-collapse"> 
       
         <ul class="nav navbar-nav navbar-right"> 
          <li class="active"> 
          <a href="/intro">了解磊山</a> 
          </li> 
          <li> 
          <a href="/join">加入磊山</a> 
          </li> 
          <li> 
          <a href="/customer">磊山服務</a> 
          </li> 
        </ul> 
      </nav> 
     
  </div> 
</header>
  <script type="text/javascript">
  $(document).ready(function(){
    $(".page-menu>li>a").on("click",function(){
      $(".page-menu>li>a").removeClass("active");
      $(this).addClass("active");
    });
  });
</script>
<div class="page-menu">
  <li><a data-scroll href="#history" class="active"></a></li>
  <li><a data-scroll href="#idea"></a></li>
  <li><a data-scroll href="#news"></a></li>
  <li><a data-scroll href="#record"></a></li>
  <li><a data-scroll href="#address"></a></li>
  <li><a data-scroll href="#public"></a></li>
  <li><a data-scroll href="#contact"></a></li>
</div>
<section id="history" class="anchor">
<div class="bg6 lazy" data-original="image/bg6.png">
  <div class="history-title hidden-xs absolute" style="margin:40px;">磊山歷史</div>
    <div class="history-mask">
     <div class="history-title visible-xs" style="text-align: center;color: white;text-shadow: 0px 2px 8px black;font-weight: 400;">磊山歷史</div>
      <div class="history-sub">2015</div>
       <p>01 成立帝國分行。 </p>
       <p>05 推出線上投保旅平険24小時服務平台</p>
       <p>05 磊山公益月為80位珍珠生及140位原聲孩子募款620萬教育經費。</p>
       <p>06 榮獲第12屆金炬獎十大績優企業&十大績優經理人-許弘偉總經理</p>
       <p>06 被現代保險雜誌媒體譽為模範保險業。</p>
       <p>07 成立寶勝特許事業部。 </p>
       <p>07 成立公益信託磊山慈善基金。 </p>
       <p>08 榮獲第17屆保險信望愛八項大獎。 </p>
       <p>09 台中分行擴大規模進駐亞太總部。 </p>
       <p>11 榮獲第11屆國家品牌玉山獎兩項大獎-傑出企業獎&傑出經理人-許弘偉。連續三年得獎創業界紀錄。</p>
       <p>11 榮獲文化部文馨獎企業贊助肯定。 </p>
       <p>12 榮獲第33屆【國家傑出經理人】傑出中小企業總經理獎李佳蓉董事長，為保經業界首位獲獎的經理人。</p>
       <p>12 榮獲第8屆「100MVP經理人」-趙子斌策略長 </p>
       <p>12 成立桃園分行。 </p>
       <hr>

      <div class="history-sub">2014</div>
       <p>04 榮獲消費者滿意金品獎。</p>
       <p>05 磊山公益月為100個珍珠生及140位原聲學童募集600萬教育經費。</p>
       <p>06 著書出版「成長的天空」系列套書。</p>
       <p>07 成立中炬財富管理中心。</p>
       <p>07 榮獲國家品牌玉山獎-傑出企業獎。</p>
       <p>08 榮獲第16屆保險信望愛七項大獎。</p>
       <p>10 榮獲第7屆「100 MVP經理人」-許弘偉總經理。</p>
       <p>11 成立翔盟財富管理中心。</p>
       <p>12 獲臺北巿政府肯定為.Taipei先峰企業。</p>
       <hr>

      <div class="history-sub">2013</div>
       <p>05 磊山公益月為100個珍珠生及128原聲學童募款540萬教育經費。</p>
       <p>07 獨家代理專屬愛無礙專案身障團體保險，創下台灣歷史第一張身障朋友專屬保單的里程碑。</p>
       <p>07 著書出版教養書籍「用窮滋味教出富小孩」。</p>
       <p>07 保經業界首創APP -「磊山保經APP」。</p>
       <p>07 榮獲第15屆保險信望愛五項大獎。</p>
       <p>07 榮獲第10屆「國家玉山品牌獎-傑出企業領導人」-李佳蓉首席顧問。</p>
       <p>09 合作產壽險公司已達30家。</p>
       <p>09 成立台南分行&金門辦事處</p>
       <p>10 磊山I share 電子書知識平台服務。</p>
       <p>10 榮獲第6屆「100 MVP經理人」-李佳蓉首席顧問。</p>
       <p>11 榮獲錢雜誌理財美人第一名-李淑意。</p>
       <p>11 首屆股東見面會。</p>
       <p>12 榮獲第11屆金鉅獎-十大潛力企業&十大經理人-李佳蓉。</p>
       <hr>

      <div class="history-sub">2012</div>
       <p>05 響應撿回珍珠計劃-為100個珍珠生募集360萬的讀書經費。</p>
       <p>07 榮獲第14屆保險信望愛七項大獎創保經業界記錄。</p>
       <p>10 著書出版「二十六張保單，26個愛的故事」。</p>
       <p>11 提供客戶法律保證書，全力捍衛客戶保險權益</p>
       <hr>
   
      <div class="history-sub">2011</div>
       <p>02 台中分行成立</p>
       <p>05 響應撿回珍珠計劃-為100個孩子募集360萬的讀書經費。</p>
       <p>06 成立社團法人中華磊山慈愛社。</p>
       <p>07 榮獲第13屆保險信望愛四項大獎。</p>
       <p>08 保誠人壽教職團險[250愛護您安心保障計劃]獨家合作保經公司。</p>
       <p>12 響應「轉動台灣向前行」活動，召集1200位好友，完成金氏紀錄。</p>
       <hr>

      <div class="history-sub">2010</div>
       <p>磊山團隊共達10個通訊處，和800多位業務主管和夥伴。</p>
       <p>03 轉型成立磊山保險經紀人公司，代理13家產壽險公司商品。</p>
       <p>05 成為第一家代理宏利的保經公司，獨家代理宏利人壽美元保單。</p>
       <p>08 著書出版「你的價值，自己創造」。</p>
       <p>11 高雄分行成立</p>
       <p>11 獨家代理台灣人壽 [磊山一號]團險。</p>
       <p>12 成立5個月首年業績突破2.5億。</p>
       <hr>

      <div class="history-sub">2009</div>
       <p>參與聽障奧運開幕式與台灣知名藝術表演團體-優人神鼓共同演出。</p>
       <hr>
      <div class="history-sub">2007</div>
       <p>為南投投仁愛之家育幼所興建新兒童館，截至2012年已募款2400萬的建館基金。</p>
       <hr>
      <div class="history-sub">2003~2009</div>
       <p>磊山團隊連續7年奪下保險信望愛最佳通訊處獎。</p>
       <hr>
      <div class="history-sub">2001~2008</div>
       <p>保誠人壽與家扶基金會共同推出「星願娃」，磊山大力推動並連年拿下募款冠軍。</p>
       <hr>
      <div class="history-sub">2000~2008</div>
       <p>磊山團隊連續9年蟬連保誠人壽「年度最佳通訊處」冠軍。</p>
       <hr>
      <div class="history-sub">2006</div>
       <p>成立佳山慈愛社。</p>
       <hr>
      <div class="history-sub">2002</div>
       <p>成立磊山慈愛社。</p>
       <hr>
      <div class="history-sub">1996</div>
       <p>磊山團隊母處－佳山通訊處成立，並成立義工隊在接頭募發票、進行育幼院關懷。</p>
       <hr>
      <div class="history-sub">1990</div>
       <p>李佳蓉投入單一壽險公司通路開始發展和擴張。</p>
       <hr>




 


  </div>
  

</div>
</section><section id="idea" class="anchor">
  <div class="bg7 lazy" data-original="image/bg7.png" data-stellar-background-ratio="0.5">
     <div class="mask-idea">
      <div class="idea-title">磊山理念</div>
      <!-- <div class="service-sub">專屬於您的全方位專業保險經紀人</div>
      <div class="service-list">您的人生 讓我們陪您一起走過！</div> -->
      <div class="col-md-12 col-sm-12 col-xs-12">
           <div class="col-md-3 col-sm-3 col-xs-6"><div class="idea-circle">樹立典範</div><div class="idea-item">為金融保險業<br>建立國際標準</div></div>
           <div class="col-md-3 col-sm-3 col-xs-6"><div class="idea-circle">永續經營</div><div class="idea-item">為客戶及夥伴打造<br>終身依靠的後盾</div></div>
           <div class="col-md-3 col-sm-3 col-xs-6"><div class="idea-circle">積極創新</div><div class="idea-item">超越業界持續創新<br>高品質服務</div></div>
           <div class="col-md-3 col-sm-3 col-xs-6"><div class="idea-circle">圓滿人生</div><div class="idea-item">引領磊山好友<br>共同擁有圓滿人生</div></div>
         </div> 
         <div style="clear:both;"></div>  
     </div>

  </div>
</section><section id="news" class="anchor">
<div class="bg8 lazy" data-original="image/bg8.png">
 <div class="mask-news">

<div class="content-mask tab-content">
     <div class="news-title" style="">
      媒體露出
      </div>
      <div class="news-count">
      <p>報導次數</p>
      <h1>{{data.logo.length+1000}}</h1>
      </div>
     
     <div class="tab-pane fade in active content " id="1">
      <div class="news-date">2015.11.23</div>
      <div class="news-link">電子新聞連結：<br><a href="http://fund.udn.com/fund/story/7488/1331159-%E5%8F%AA%E6%83%B3%E8%B3%BA%E5%8C%AF%E5%B7%AE-%E4%B8%8D%E5%BF%85%E8%B2%B7%E5%A4%96%E5%B9%A3%E4%BF%9D%E5%96%AE">只想賺匯差 不必買外幣保單</a></div>
      <hr>
      <div class="news-topic">只想賺匯差 不必買外幣保單</div>
      
       <p>磊山保經通路長林世德表示，美元保單預定利率高，但因保費、身故金與生存金皆採美元給付，會有匯兌損失風險。雖然美元看漲，但保險商品最重要的還是保障功能，若單純只是為了賺匯差，不必買保險。
       <br>在規劃退休保障時，林世德建議可依據自己預期退休後主要在哪個國家生活，拿到哪種幣別最好用，來思考要不要買外幣保單。<br>
林世德指出，領取美元薪資、有許多美元投資等有美元資產的人；以及子女在美國唸書、自己退休後打算去美國生活、想去國外置產等有美元需求的人，最適合買美元保單。已經有充足的保險保障，但想提升資產的獲利表現，分散貨幣風險的人，也很適合買美元保單。<br>
林世德表示，有小資族運用閒置資金買不具壽險保障、著重投資功能美元變額年金險，等退休後領取美元年金，為自己預先準備好每年國外旅遊的經費。也有少數保戶是對新台幣沒信心，所以想買美元保單。美元保單是很好的商品，但投保前務必先衡量自己需求，不要只是為了賺匯差。<br>
想買美元保單，又對美元匯率走勢不了解的民眾，第一金人壽總經理林元輝建議，保費可採「月繳」方式，定期定額平衡匯兌損益。
</p>
       
      </div>
      <div class="tab-pane fade content" id="two">
       <div class="news-date">2015.11.22</div>
      <div class="news-link">電子新聞連結：<br><a href="http://www.chinatimes.com/newspapers/20151122000211-260205">高齡化 投保轉嫁長看支出風險</a></div>
      <hr>
      <div class="news-topic">高齡化 投保轉嫁長看支出風險</div>
      
       <p>根據世界衛生組織推估，長期照顧潛在需求為7至9年，而國內研究根據平均壽命與疾病型態的改變推估，國人一生中需要長期照護約7.3年，男性平均要6.4年，女性則高達8.2年。<br>
由於一般的終身醫療或定期醫療，在面對長期臥床行動不便的老人家時是無法提供理賠給付的，建議以長期看護保險來轉嫁經濟上的風險。<br>
磊山保經董事長李佳蓉表示，根據保險事業發中心資料，照護機構單人房加上膳食費1個月大概需要4.3萬元左右，4人房也需要2.5萬元左右；護理之家則在3萬至4萬元間。如果是請外籍看護，約要2萬元以上，不含食宿的費用，但需要考量語言溝通的問題；而本國籍看護，目前行情要到5萬元以上。<br>
李佳蓉表示，如果以臥病在床的老人家平均餘命為10年來計算，對一個家庭來說，在看護費的部分最少也要準備300萬元以上。<br>
長期看護險的功能是當民眾失去基本生活能力，舉凡無法自行更衣、沐浴、飲食、行走、上下床等。經由醫院專業認定後，能定期從保險公司領取看護金。<br>
對於家中有需要被照護的長輩或親人，可透過這筆看護金聘請專業看護，或送至專業的養護機構進行照護。其他的家人也可免於擔心經濟上的實質壓力和照護上的心理負擔。<br>
壽險業者建議民眾在選擇長期看護險時，可選擇終身給付或定期給付，建議在預算允許的情況下盡量選擇終身型，在發生長期看護狀況時，可理賠終身而無後顧之憂。<br>
另外要注意各家保險公司對長期看護失能的項目規定就不同，有的只需符合其中1項或2項就可以理賠；有的則需符合一半以上的失能項目，才符合理賠條件；而有的則按照符合的項目多寡依不同比例來給付。(工商時報)

</p>
      </div>

      {% for post in  data.logo   %}

{% if (loop.index0+3) < 5 %}
      <div class="tab-pane fade content" id="{{ loop.index0+3}}">
       <div class="news-date">{{ post._.publishedDate.format("YYYY.MM.DD") }}</div>
      <div class="news-link">電子新聞連結：<br><a href="{{post.subtitle}}">{{post.title}}</a></div>
      <hr>
      <div class="news-topic">{{post.title}}</div>
      
       {{ post.content.extended | safe }} 
      </div>

 


     {% endif %}
     {% endfor %}
      




 


  </div>
 
    <div class="news-nav">
      <div class="news-highlight col-md-12 col-sm-12 col-xs-12"><img data-original="image/news-01.png" src="image/news-01.png" alt=""></div>
       <a href="#1" data-toggle="tab"  aria-controls="one" class="one">
       <div class="news-img col-md-6 col-sm-6 col-xs-6 ">
          <div class="black">
          <div style="height: 45%;"></div>
          <div class="news-hint">只想賺匯差 不必買</div>
          </div>
          <img data-original="image/news-01.png" src="image/news-01.png" alt="">
        </div> 
       </a>
       <a href="#two" data-toggle="tab"  aria-controls="two" class="two">
       <div class="news-img col-md-6 col-sm-6 col-xs-6">
          <div class="black">
            <div style="height: 45%;"></div>
          <div class="news-hint">高齡化 投保轉嫁常看支出風險</div>
          </div>
          <img data-original="image/news-02.png" src="image/news-02.png" alt="">
          </div> 
        </a>
          {% for post in  data.logo   %}

        {% if (loop.index0+3) < 5 %}
       <a href="#{{loop.index0+3}}" data-toggle="tab"  aria-controls="three" class="three">
       <div class="news-img col-md-6 col-sm-6 col-xs-6">
        <div class="black">
          <div style="height: 45%;"></div>
          <div class="news-hint">{{post.title}}</div>
        </div>
        <img data-original="{{ post.image.url }}" src="{{ post.image.url }}" alt="">
       </div> 
       </a>

             



       {% endif %}
       {% endfor %}
       <!-- <a href="#four" data-toggle="tab"  aria-controls="four"><div class="news-img"><img data-original="" alt=""></src-original="" alt=""></div> </a> -->
    </div>

  
 </div>
</div>
</section><section id="record" class="anchor">
<div class="bg9 lazy" data-original="image/bg9.png" data-stellar-background-ratio="0.5">
 <div class="record-title">得獎紀錄</div>
 <div class="mask-record">
    <div class="news-nav record-cup">
      <!-- <div class="news-highlight col-md-12 col-sm-12 col-xs-12"><img data-original="image/news-01.png" alt=""></div> -->
      <div class="record-img  "><img data-original="image/cup1.png" class="cup-responsive"></div>
      <div class="record-img "><img data-original="image/cup2.png" class="cup-responsive"></div>
      <div class="record-img "><img data-original="image/cup3.png" class="cup-responsive"></div>
      <div class="record-img "><img data-original="image/cup4.png" class="cup-responsive"></div>
      <div class="record-img record-img-3"><img data-original="image/cup5.png" class="cup-responsive"></div>
      <div class="record-img record-img-3"><img data-original="image/cup6.png" class="cup-responsive"></div>
      <div class="record-img record-img-3"><img data-original="image/cup7.png" class="cup-responsive"></div>   
       
       <!-- <a href="#four" data-toggle="tab"  aria-controls="four"><div class="news-img"><img data-original="" alt=""></div> </a> -->
    </div>
    <div class="record-nav">
      <a href="#2015" data-toggle="tab"  aria-controls="2015" class="2015">
        2015
       </a>
       <a href="#2014" data-toggle="tab"  aria-controls="2014" class="2014">
        2014
        </a>
       <a href="#2013" data-toggle="tab"  aria-controls="2013" class="2013">
       2013
       </a>
       <a href="#2012" data-toggle="tab"  aria-controls="2012" class="2013">
       2012
       </a>
       <a href="#2011" data-toggle="tab"  aria-controls="2011" class="2013">
       2011
       </a>
    </div>
    <div class="record-mask tab-content">
     
      <div class="tab-pane fade in active record " id="2015">

        <p>2015年  第12屆中華民國文化部文馨獎 </p>
        <p>2015年 第三十三屆【國家傑出經理人】-李佳蓉  </p>
        <p>2015年 第八屆100MVP經理人-趙子斌  </p>
        <p>2015年 保險信望愛最佳通訊處獎(壽險組) – 台南分行  </p>
        <p>2015年 保險信望愛最佳專業顧問獎(外勤)特優-劉乃瑞 業務總監  </p>
        <p>2015年 保險信望愛最佳保險專業獎優選(連續五年)  </p>
        <p>2015年 保險信望愛最佳社會責任獎優選(連續五年)  </p>
        <p>2015年 保險信望愛最佳保險教育貢獻獎優選  </p>
        <p>2015年 保險信望愛最佳社會貢獻獎優選-李佳蓉首席顧問  </p>
        <p>2015年 保險信望愛最佳專業顧問獎(內勤)優選-趙子斌策略長  </p>
        <p>2015年 保險信望愛最佳專業顧問獎(外勤)優選-高雅婕業務總監  </p>
        <p>2015年 第12屆金炬獎十大績優企業獎  </p>
        <p>2015年 第12屆金炬獎十大績優經理人－許弘偉  </p>
        <p>2015國家品牌玉山獎傑出企業獎  </p>
        <p>2015年 國家品牌玉山獎傑出經理人 – 許弘偉  </p>
       
       </div>
      <div class="tab-pane fade record " id="2014">
        <p>2014年 國家品牌玉山獎-傑出企業獎</p>
        <p>2014年 評選為.Taipei先峰企業</p>
        <p>2014年 消費者滿意金品獎</p>
        <p>2014年 100MVP經理人-許弘偉 總經理</p>
        <p>2014年 保險信望愛最佳保險專業獎特優</p>
        <p>2014年 保險信望愛最佳社會責任獎優選</p>
        <p>2014年 保險信望愛最佳專業顧問獎特優(外勤) - 李淑意</p>
        <p>2014年 保險信望愛最佳專業顧問獎優選(內勤) - 曾粹頤</p>
        <p>2014年 保險信望愛最佳專業顧問獎優選(外勤) - 魏百成</p>
        <p>2014年 保險信望愛最佳保險成就獎優選 - 林昔霞 業務副總</p>
        <p>2014年 保險信望愛最佳社會貢獻獎優選 - 林玲慧 高級業務經理</p>

       
      </div>
      <div class="tab-pane fade record " id="2013">
        <p>2013年 國家品牌玉山獎-傑出企業領導人- 李佳蓉首級顧問</p>
        <p>2013年 金炬獎十大潛力企業獎</p>
        <p>2013年 金炬獎十大潛力經理人- 李佳蓉首席顧問</p>
        <p>2013年 100MVP經理人- 李佳蓉首席顧問</p>
        <p>2013年 保險信望愛最佳保險專業獎優選 (連續3年得獎)</p>
        <p>2013年 保險信望愛最佳社會責任獎特優(連續3年得獎)</p>
        <p>2013年 保險信望愛最佳通訊處獎特優 (連續2年得獎)</p>
        <p>2013年 保險信望愛最佳專業顧問獎特優（內勤）- 趙子斌</p>
        <p>2013年 保險信望愛最佳專業顧問獎優選（內勤）- 許弘偉</p>
      </div>
      <div class="tab-pane fade record " id="2012">
        <p>2012年 保險信望愛最佳社會責任獎特優</p>
        <p>2012年 保險信望愛最佳保險專業獎優選</p>
        <p>2012年 保險信望愛最佳通訊處獎優選</p>
        <p>2012年 保險信望愛保險成就獎特優－李佳蓉首席顧問</p>
        <p>2012年 保險信望愛最佳社會貢獻獎特優 － 陳綺芬業務協理</p>
        <p>2012年 保險信望愛最佳專業顧問獎優選（內勤）- 曾粹頤副總</p>
        <p>2012年 保險信望愛最佳專業顧問獎優選（外勤）- 郭建宏業務總監</p>   
      </div>
      <div class="tab-pane fade record " id="2011">
        <p>2011年 保險信望愛最佳社會責任獎特優</p>
        <p>2011年 保險信望愛最佳專業保險奬優選</p>
        <p>2011年 保險信望愛最佳專業顧問獎優選（內勤）- 龔立煒</p>
        <p>2011年 保險信望愛最佳專業顧問獎優選（外勤） -陳綺芬</p>   
      </div>
     

<!-- <div class="tab-pane fade content" id="four">
       <div class="news-date"></div>
      <div class="news-link"><br><a href="http://www.chinatimes.com/newspapers/20151122000211-260205"></a></div>
      <hr>
      <div class="news-topic"></div>
      
       <p></p>
      </div> -->


  </div>
  
 </div>
</div>
</section><section style="height: 607px;" class="add-sec anchor" id="address" >
  <i class="fa fa-angle-right fa-4x "></i>
  <div class="overlay" onClick="style.pointerEvents='none'"></div>
  <div class="map">
  </div>

  <div class="address-mask">
    <i class="fa fa-angle-left fa-4x hidden-xs"></i>
    <i class="fa fa-angle-right fa-4x visible-xs"></i>
    <div class="address-title">服務據點</div>
    <div class="address-list">
      <div class="address-item ">
        <div class="address-item-name">
          台北總公司
        </div>
        <li>104 台北市松江路156-1號3F</li>
        <li>電話：02-7730-7298</li>
        <li>傳真：02-2567-6960</li>
      </div>
      <div class="address-item">
        <div class="address-item-name">
          首都服務中心
        </div>
        <li>104 台北市松江路158號12樓</li>
        <li>電話：02-2563-3218</li>
        <li>傳真：02-2563-4790</li>
      </div>
      <div class="address-item">
        <div class="address-item-name">
          中炬特許事業部
        </div>
        <li>104 台北市松江路158號8樓之4</li>
        <li>電話：02-2523-9246</li>
        <li>傳真：02-2523-9247</li>
      </div>
       <div class="address-item">
        <div class="address-item-name">
          帝國服務中心
        </div>
        <li>104 台北市中山區松江路87號2樓之2</li>
        <li>電話：02-2507-6686</li>
        <li>傳真：02-2507-6696</li>
      </div>
      <div class="address-item">
        <div class="address-item-name">
          翔盟特許事業部
        </div>
        <li>302 新竹縣竹北市光明六路東一段251號12樓</li>
        <li>電話：03-667-5488</li>
        <li>傳真：03-667-2488</li>
      </div>
      <div class="address-item">
        <div class="address-item-name">
          金門特許事業部
        </div>
        <li>890 金門縣金沙鎮陽翟63號</li>
        <li>電話：082-353930</li>
        <li>傳真：082-353930</li>
      </div>
      <div class="address-item">
        <div class="address-item-name">
          台中服務中心
        </div>
        <li>407 臺中市西屯區臺灣大道三段540號14樓之2</li>
        <li>電話：04-2452-8126</li>
        <li>傳真：04-2452-8130</li>
      </div>
       <div class="address-item">
        <div class="address-item-name">
          台南服務中心
        </div>
        <li>700台南市中西區民生路二段279號17樓</li>
        <li>電話：06-223-7718</li>
        <li>傳真：06-223-7618</li>
      </div>
       <div class="address-item">
        <div class="address-item-name">
          高雄服務中心
        </div>
        <li>806 高雄市前鎮區中山二路260號16樓</li>
        <li>電話：07-537-7168</li>
        <li>傳真：07-537-7158</li>
      </div>


      {% for post in data.activity %}
      <div class="address-item">
        <div class="address-item-name">
          {{ post.title }}
        </div>
        <li>{{ post.content.extended | safe }}</li>
        
      </div>
      {% endfor %}
      
    </div>
  </div>
</section><section class="anchor" id="public" style="margin-top: 0px;">
<div class="bg10 lazy" data-original="image/bg10.png" data-stellar-background-ratio="0.5">
 <div class="mask-public">
   <div class="public-mask tab-content">
     <div class="public-title" style="">
      公益活動
      </div>
      
     
     <div class="tab-pane fade in active public" id="one">
      <!-- <div class="news-date">2015.11.23</div>
      <div class="news-link">電子新聞連結：<br><a href="http://fund.udn.com/fund/story/7488/1331159-%E5%8F%AA%E6%83%B3%E8%B3%BA%E5%8C%AF%E5%B7%AE-%E4%B8%8D%E5%BF%85%E8%B2%B7%E5%A4%96%E5%B9%A3%E4%BF%9D%E5%96%AE">只想賺匯差 不必買外幣保單</a></div> -->
      <div class="public-sub">我們靠所賺取的謀生，但靠給予而享有生命</div>
      <div class="public-sub-sub">We make a living by what we get,we make a life by what we give.</div>
      <div class="public-sub-sub">--英國首相邱吉爾</div>
      
      <div class="public-list">
      <hr>
        愛、責任、關懷是保險業的本質，磊山將對客戶的小愛，延伸到社會上需要關懷的每一個角落。自1996年僅有十數人的義工隊在街頭募集發票、進行育幼院的關懷開始，到目前以慈愛社社團經營的形態，有系統、有組織的推動大型的募款活動和長期贊助並支持社福團體。結合慈善公益、人文藝術和企業資源，以企業經營的模式和高效率來推動三方的結合，磊山相信，透過資源的整合，能讓更多需要的人和團體獲得最溫暖也最有效的協助。 
      </div>
      </div>
     </div>
    
    <div class="public-nav">
      <div class="public-highlight col-md-12 col-sm-12 col-xs-12">

  <div class="tab-pane fade active in public-content" id="p1">
      <div class="news-topic">南投仁愛之家育幼所</div>
      <hr>
       <p>協助募集兒童館興建基金，以及育幼所的孩子在畢業離院後的職涯發展規劃。截至2012年12月底止已募得逾2,400萬元，以及育幼所的孩子在畢業或離院後的職涯規劃業。</p>
      </div>
          <!-- api in --> 
       {% for post in   data.mercy   %}
       {% if (loop.index0+4) < 7 %}


      <div class="tab-pane fade  public-content" id="p{{loop.index0+4}}">
      <div class="news-topic">{{post.title}}</div>
      <hr>
       {{post.content.extended|safe}}
      </div>
      {% endif %}
      {% endfor %}


    
      <div class="tab-pane fade public-content" id="p3">
      <div class="news-topic">原聲音樂學校</div>
      <hr>
       <p>協助來自信義鄉11個部落的原住民學童，組織原住民童聲合唱團，成為世界級合唱團，以保存傳揚部落藝術文化。從2013年開始每年募款180萬的課後輔導費，給予原聲最大的支持。</p>
      </div>
     <!--  <div class="tab-pane fade public-content" id="p4">
      <div class="news-topic">愛維養護中心</div>
      <hr>
       <p>定期探訪重度肢體殘障和智能障礙的朋友，讓更多的好朋友對愛維伸出友誼的手，得到更多的關注。</p>
      </div>
      <div class="tab-pane fade public-content" id="p5">
      <div class="news-topic">創世基金會</div>
      <hr>
       <p>協助高雄創世基金會，透過活動舉辦為創世屏東分院募集建館基金，期待能收容更多需要被照顧的植物人朋友。</p>
      </div>
      <div class="tab-pane fade public-content" id="p6">
      <div class="news-topic">捐血</div>
      <hr>
       <p>每季舉辦捐血活動，結合社區資源，挽起袖子，為台灣社會注入最溫暖的一股暖流。</p>
      </div> -->

<img data-original="image/public-01.jpg" src="image/public-01.jpg" alt="">

 <!-- {% for post in   data.mercy   %}
      <img data-original="{{post.image.url}}" src="{{post.image.url}}" alt="">
      {% endfor %} -->
      </div>

    <a href="#p1" data-toggle="tab"  aria-controls="p1" class="p1">
       <div class="public-img col-md-2 col-sm-2 col-xs-2">
          <div class="black"></div>
          <img data-original="image/public-01.jpg" src="image/public-01.jpg" alt="">
          </div> 
        </a>

      {% for post in   data.mercy   %}
      {% if (loop.index0+3) < 7 %}
       <a href="#p{{loop.index0+4}}" data-toggle="tab"  aria-controls="p{{loop.index0+4}}" class="p{{loop.index0+4}}">
       <div class="public-img col-md-2 col-sm-2 col-xs-2 ">
          <div class="black"></div>
          <img data-original="{{post.image.url}}" src="{{post.image.url}}" alt="">
        </div> 
       </a>
       {% endif %}
        {% endfor %} 


   
   
       <!-- <a href="#p4" data-toggle="tab"  aria-controls="p4" class="p4">
       <div class="public-img col-md-2 col-sm-2 col-xs-2">
        <div class="black"></div>
        <img data-original="image/public-04.jpg" src="image/public-04.jpg" alt="">
       </div> 
       </a>
       <a href="#p5" data-toggle="tab"  aria-controls="p5" class="p5">
       <div class="public-img col-md-2 col-sm-2 col-xs-2">
        <div class="black"></div>
        <img data-original="image/public-05.jpg" src="image/public-05.jpg" alt="">
       </div> 
       </a>
       <a href="#p6" data-toggle="tab"  aria-controls="p6" class="p6">
       <div class="public-img col-md-2 col-sm-2 col-xs-2">
        <div class="black"></div>
        <img data-original="image/public-06.jpg" src="image/public-06.jpg" alt="">
       </div> 
       </a> -->
       <!-- <a href="#four" data-toggle="tab"  aria-controls="four"><div class="news-img"><img data-original="" alt=""></src-original="" alt=""></div> </a> -->
    </div>
    



      




 


  </div>
  
 </div>
</div>
</section><script src="javascripts/jquery.lazyload.min.js" type="text/javascript"></script>
<script src="javascripts/jquery.tinyMap.min.js" type="text/javascript"></script>
<script src='javascripts/jquery.animateNumber.min.js'></script>
<script src='javascripts/join.js'></script>

 
  <!-- <section style="clear: both;" class="anchor" id="contact">
  <div class="bg5 lazy" data-stellar-background-ratio="0.9" data-original="image/bg5.png"> -->

   <section style="clear: both;">
  
   <div class="bg5 lazy" data-original="image/bg5.png">

 <form id="contact" method='post'>

  <input type="hidden" name='action' value='contact'>  
    <div class="contact-mask">
      <div class="user">
      <div class="contact-logo">聯絡我們</div><div class="alert-block">
         <i class="fa fa-exclamation-circle"></i>
          {% if enquirySubmitted %}
      <div class="alert-message">信件已寄出</div>

{%else%}
<div class="alert-message">信箱為必填</div>
    {% endif %}
       </div> 
        <input type="text" name="name.full" class="contact-user" placeholder="姓名">
       <input type="text" name="email" class="contact-user" placeholder="信箱">
       <input type="text" name="phone" class="contact-user" placeholder="市話 / 手機">
       <input type="text" name="address" class="contact-user" placeholder="地址">
       
      </div>
    </div>
    <div class="mail-mask">
      <input type="text" name="title" class="contact-title" placeholder="信件標題">
      <hr>
      <textarea  placeholder="信件訊息" class="contact-comment" form="contact" name="message"></textarea> 
      <input type="submit" value="寄出訊息" class="submit">
     
    </div>
    </form>
 
  </div>
</section>  
 <section style="clear: both;">
  <div class="footer">
    <div class="footer-logo">
      <img class="logo-white" src="image/logo-white.png"><br>
      <img class="qrcode" src="image/qrcode.png">
    </div>
    <div class="line"><img src="image/Line.png"></div>
    <div class="special-link">
      <div class="link-title">SPECIAL LINK</div>
      <li class="link-item"><a href="https://www.ls-ecommerce.com.tw/">1.線上旅平險服務</a></li>
      <li class="link-item"><a href="http://leishan.taipei">2.活動報名網站</a></li>
      <li class="link-item"><a href="https://eip.leishan.com.tw:8080">3.業務管理系統</a></li>
      <li class="link-item"><a href="http://leishan.cloudapp.net/login.php">4.業務支援系統</a></li>
      <li class="link-item"><a href="http://www.leishan.com.tw/index.php?REQUEST_ID=bW9kPWRvd25sb2Fk">5.磊山補給站</a></li>
      <li class="link-item"><a href="http://lsapp.leishan.com.tw">6.磊山原官網</a></li>
    </div>
    <div class="quick-link">
      <div class="link-title">QUICK LINK</div>
      <li class="link-item"><a href="http://www.ib.gov.tw/ch/home.jsp?id=125&parentpath=0,8">1.微型保險專區</a></li>
      <li class="link-item"><a href="http://www.lia-roc.org.tw/OTHER/h1001005.htm">2.高齡化保險專區</a></li>
    </div>
    <div class="app">
      <div class="link-title">APP DOWNLOAD</div>
      <a href="https://play.google.com/store/apps/details?id=com.no1.leishan&hl=zh_TW" style="padding: 20px 20px 10px 0px">
      <img src="image/googleapp.png">
      </a>
      <a href="https://itunes.apple.com/tw/app/lei-shan-bao-jing/id670127737?l=zh&mt=8" style="padding: 20px 0px 10px 0px">
      <img src="image/iosapp.png"></a>
    </div>
    <div class="ins">
      <div class="link-title">FACEBOOK</div>
      <a target="_blank" href="https://www.facebook.com/leishan.voice/photos/pb.1445527189097120.-2207520000.1454067460./1542908336025671/?type=3&theater"><div class="insphoto1"></div></a>
      <a target="_blank" href="https://www.facebook.com/leishanbroker/photos/a.122709651122055.17074.121804451212575/1000231340036544/?type=3&theater"><div class="insphoto2"></div></a>
      <a target="_blank" href="https://www.facebook.com/leishanbroker/photos/a.122709651122055.17074.121804451212575/1000226140037064/?type=3&theater"><div class="insphoto3"></div></a>
      <a target="_blank" href="https://www.facebook.com/leishanbroker/photos/a.122709651122055.17074.121804451212575/996442407082104/?type=3&theater"><div class="insphoto4"></div></a>
      <a target="_blank" href="https://www.facebook.com/leishanbroker/photos/a.121804587879228.16776.121804451212575/991557127570632/?type=3&theater"><div class="insphoto5"></div></a>
      <a target="_blank" href="https://www.facebook.com/leishanbroker/photos/a.320575528002132.71930.121804451212575/991546527571692/?type=3&theater"><div class="insphoto6"></div></a>
    </div>
  </div>
</section>
<script>
    smoothScroll.init();
</script>
  <!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
 -->

</body>
</html>